.emoji-option {
  font-size: 20px;
  background-color: aliceblue;
  padding:5px 5px;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid transparent;

}

.emoji-option:hover {
  background-color: #5385cf;
  border: #262729 1px solid;
  
}